# Concatenate Data and Save as 1 file

In [3]:
# import twint
# import nest_asyncio
import datetime
import pandas as pd
import json

In [8]:
data28 = pd.read_json('./data/UkraineRussia_28.json', lines = True)

In [9]:
data25 = pd.read_json('./data/UkraineRussia.json', lines = True)

In [10]:
#concatenate with ~25 data
df = pd.concat([data25, data28], axis=0)

In [11]:
df[df.duplicated(subset=['id','date','tweet'], keep=False)]
df

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1497188084022083585,1497188084022083584,2022-02-25 13:33:50+01:00,2022-02-25,13:33:50,100,18071358,zeenewsenglish,Zee News English,,...,,,,,,[],,,,
1,1497188083065888841,1497188083065888768,2022-02-25 13:33:50+01:00,2022-02-25,13:33:50,100,3248072657,wwiiletterlover,Liz Gilmore Williams,,...,,,,,,[],,,,
2,1497188081572716562,1497188081572716544,2022-02-25 13:33:49+01:00,2022-02-25,13:33:49,100,2787284764,infofrance3,Info France 3,,...,,,,,,[],,,,
3,1497188078385049602,1497188078385049600,2022-02-25 13:33:48+01:00,2022-02-25,13:33:48,100,419909890,ahmadekabir,AHMADEKABIR,,...,,,,,,[],,,,
4,1497188074467602434,1497188074467602432,2022-02-25 13:33:48+01:00,2022-02-25,13:33:48,100,1310508002424885248,pollux_hh,Pollux,,...,,,,,,[],,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156332,1496944053342113797,1496944053342113792,2022-02-24 21:24:08+01:00,2022-02-24,21:24:08,100,1143239896993320960,peuplerevolte,Peuple Révolté,,...,,,,,,[],,,,
156333,1496944034006601728,1496944034006601728,2022-02-24 21:24:04+01:00,2022-02-24,21:24:04,100,1465263490407583748,africonnected,Sun☀️ of Afrika,,...,,,,,,[],,,,
156334,1496944018596499463,1496944018596499456,2022-02-24 21:24:00+01:00,2022-02-24,21:24:00,100,3214438509,austine9091,Austine nnamani,,...,,,,,,[],,,,
156335,1496944003677401096,1496944003677401088,2022-02-24 21:23:57+01:00,2022-02-24,21:23:57,100,382844364,djelabababouche,LeMetek,,...,,,,,,[],,,,
156336,1496943988183547908,1496943988183547904,2022-02-24 21:23:53+01:00,2022-02-24,21:23:53,100,302312898,ike_saul,Isaac Saul (readtangle.com),,...,,,,,,[],,,,

In [34]:
df.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [13]:
sql_df = df[['date', 'time', 'username', 'language',
       'urls', 'tweet', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'video']]

In [ ]:
sql_df

In [107]:
#contains urls
len(sql_df[sql_df['urls'].map(lambda d: len(d)) > 3])

38

In [108]:
#contains video
sum(sql_df['video'])

119533

In [14]:
sql_df.to_csv('./data/UkraineRussia_all_with_tweets.csv')